.Notion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura al 100% del viewport */
  }
  
  .Notion > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: none; /* Fondo blanco para los elementos */
    border-radius: none; /* Bordes redondeados */
    box-shadow: none;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    margin-top: 100px;
  }
  
  /* Estilos al pasar el mouse por encima para resaltar */
  .Notion > div:hover {
    transform: scale(1.05);
  }
  
  /* Estilos específicos para el contenedor de tarjetas */
  .Div1 {
    width: 95%;
    margin: 25px auto;
    background-image: linear-gradient( transparent);
    /*border: 6px solid #B0C4DE; */

    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Agregar scroll si es necesario */
  }
  
  /* Estilos para botón de crear */
  .Buttons {
    display: flex;
    justify-content: center;
  }
  
  /* Estilo para los elementos de entrada y fechas */
  .MyField,
  .MyDatePicker {
    width: 100%;
    margin: 10px 0;
  }
  
  /* Estilos para el contador */
  .MyContador {
    margin: 10px 0;
  }

.Scroll {
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    max-height: 400px;
}
